<!-- 1st navbar -->
<nav
  class="navbar1 navbar-expand-lg navbar-light bg-light shadow-sm"
  *ngIf="showHeaderFooter"
>
  <div class="container-fluid d-flex justify-content-center">
    <a
      class="navbar-brand text-center"
      routerLink="/"
      style="text-decoration: none"
      (mouseover)="underline = true"
      (mouseout)="underline = false"
    >
      <span
        class="contained-heading inline-block head1"
        [style.textDecoration]="underline ? 'underline' : 'none'"
      >
        Free Shipping On Orders $100+ SHOP NOW <i class="fa-solid fa-arrow-right"></i>
      </span>
    </a>
  </div>
</nav>

<!-- 2nd navbar -->
<nav
  class="navbar navbar-expand-lg navbar-light bg-light shadow-sm"
  *ngIf="showHeaderFooter"
>
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img
        src="../assets/images/logo.png"
        alt="Sweets Logo"
        class="img-fluid"
        style="width: 100px; height: 60px"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products" routerLinkActive="active">All Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateToCart()"><i class="fas fa-shopping-cart"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/account" routerLinkActive="active"><i class="fa-regular fa-user"></i></a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a class="nav-link" routerLink="/auth/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a class="nav-link" routerLink="/auth/register" routerLinkActive="active">Register</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" (click)="logout()" style="cursor: pointer;">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!-- 3rd navbar -->
<nav class="header__inline-menu navbar-expand-lg navbar3" *ngIf="showHeaderFooter">
  <div class="container d-flex justify-content-center" >
    <button 
      class="navbar-toggler btn2"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav2"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >More!
      <!-- <span class="navbar-toggler-icon "></span> -->
      <!-- <span class="sr-only">Toggle navigation</span> -->
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav2">
      <ul class="list-menu list-menu--inline navbar-nav " role="list">
        <li class="menu-list-item nav-item" *ngFor="let item of menuItems">
          <a [attr.id]="generateId(item.title)" 
             [href]="item.link" 
             class="nav-link2 header__menu-item list-menu__item link link--text focus-inset text-center">
            <span>{{ item.title }}</span>
            <svg *ngIf="item.subMenu.length > 0" aria-hidden="true" focusable="false" class="icon icon-caret" viewBox="0 0 10 6">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor"></path>
            </svg>
          </a>
          <div *ngIf="item.subMenu.length > 0" class="mega-menu justify-content-center">
            <ul class="mega-menu__list" role="list">
              <li class="menu-item__w-image__noflex text-center" *ngFor="let subItem of item.subMenu">
                <a [attr.id]="generateId(subItem.title)" 
                   [href]="subItem.link" 
                   class="mega-menu__link mega-menu__link--level-2 link text-center">
                  <div class="menu-item__w-image">
                    <div class="img-container">
                      <img [src]="subItem.imgSrc" alt="" [srcset]="subItem.imgSrc + ' 85w'" width="85" height="85">
                    </div>
                    {{ subItem.title }}
                  </div>
                </a>
              </li>
            </ul>
            <div class="bottom-button-container justify-content-center">
              <a [href]="item.link" class="mega-menu__link link cta__button--rounded">View all</a>
            </div>
          </div>
        </li>
        <li class="menu-list-item">
          <a id="HeaderMenu-candy-buffets" routerLink="/buffets" class="nav-link2 header__menu-item list-menu__item link link--text focus-inset text-center">
            <span>Candy Buffets</span>
          </a>
        </li>
        <li class="menu-list-item">
          <a id="HeaderMenu-faqs" routerLink="/faq" class="nav-link2 header__menu-item list-menu__item link link--text focus-inset text-center ">
            <span>FAQS</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
