<div class="vh-100 container">
  <section class="vh-100">
    <div class="container-fluid h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img
            src="/assets/images/login/login.jpg"
            class="img-fluid"
            alt="Sample image"
          />
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form (ngSubmit)="login()" class="d-flex flex-column form">
            <div
              class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start"
            >
              <p class="lead fw-bold mb-0 me-3">
                {{ "sign in " | titlecase }}
                <small class="fw-normal">{{ "with" | lowercase }}</small>
              </p>
              <button
                type="button"
                data-mdb-button-init
                data-mdb-ripple-init
                class="btn btn-primary btn-floating mx-1"
              >
                <i class="fab fa-facebook-f"></i>
              </button>
              <button
                type="button"
                data-mdb-button-init
                data-mdb-ripple-init
                class="btn btn-primary btn-floating mx-1"
              >
                <i class="fab fa-twitter"></i>
              </button>
              <button
                type="button"
                data-mdb-button-init
                data-mdb-ripple-init
                class="btn btn-primary btn-floating mx-1"
              >
                <i class="fab fa-linkedin-in"></i>
              </button>
            </div>
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">Or</p>
            </div>

            <div class="d-flex flex-row align-items-center mb-4 form-group">
              <div data-mdb-input-init class="form-outline flex-fill">
                <input
                  type="email"
                  id="email"
                  class="form-control"
                  [(ngModel)]="credentials.email"
                  name="email"
                  required
                />
                <label class="form-label" for="email">Email address</label>
              </div>
            </div>

            <div class="d-flex flex-row align-items-center mb-4 form-group">
              <div data-mdb-input-init class="form-outline flex-fill">
                <input
                  type="password"
                  id="password"
                  class="form-control"
                  [(ngModel)]="credentials.password"
                  name="password"
                  required
                />
                <label class="form-label" for="password">Password</label>
              </div>
            </div>

            <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

            <div class="d-flex justify-content-between align-items-center">
              <div class="form-check mb-0">
                <input
                  class="form-check-input me-2"
                  type="checkbox"
                  id="form2Example3"
                />
                <label class="form-check-label" for="form2Example3"
                  >Remember me</label
                >
              </div>
              <a routerLink="/auth/forgot-password" class="text-body"
                >Forgot Password?</a
              >
            </div>

            <div class="text-center text-lg-start mt-4 pt-2">
              <button
                type="submit"
                data-mdb-button-init
                data-mdb-ripple-init
                class="btn btn-warning btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem"
              >
                Login
              </button>
              <p class="small fw-bold mt-2 pt-1 mb-0">
                Don't have an account?
                <a routerLink="/signup" class="link-danger">Register</a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
