<br><div class="container">
    <p class="text-center txt1 container">Shop Best Selling Sweets at SoSweet
    <div class="container">
        <p class="text-center txt2 container">
            Welcome to SoSweet, 
            the UK's premier destination for an exceptional range of sweets and traditional confectionery 
            that caters to all tastes and preferences. 
            From traditional British sweets to unique freeze-dried treats,
            our collection promises to delight and satisfy your sweet tooth.
        </p>
        <a href="/products" class="txt11 text-center d-flex justify-content-center align-items-center">
            Learn More <i class="fa-solid ms-2 fa-angle-right"></i>
        </a>
    </div>
<div class="container">