<br><div class="container">
    <p class="text-start txt1 container">Shop Best Selling Sweets at SoSweet
    <div class="container">
        <p class="text-start txt2 container">
            Welcome to SoSweet, 
            the UK's premier destination for an exceptional range of sweets and traditional confectionery 
            that caters to all tastes and preferences. 
            From traditional British sweets to unique freeze-dried treats,
            our collection promises to delight and satisfy your sweet tooth.
        </p>
        <a href="/products" class="txt11 container">Learn More <i class="fa-solid fa-arrow-right"></i></a>
    </div>
<div class="container">