<!-- <div class="card h-100" *ngIf="products.length > 0">

  <img [src]="product.image" class="card-img-top" [alt]="product.title" />
  <div class="card-body d-flex flex-column">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">{{ product.vendor }}</p>
    <p class="card-text font-weight-bold">{{ product.price }}</p>
    <app-product-form
      [productId]="product.id"
      class="mt-auto"
    ></app-product-form>
  </div>
</div>

<div class="card h-100" *ngIf="products.length === 0">
  <div class="card-body">
    <h5 class="card-title">No Products Found</h5>
  </div>
</div> -->

<div *ngIf="products.length > 0">
  <div *ngFor="let product of products" class="card h-100">
    <img [src]="product.image" class="card-img-top" [alt]="product.name" />
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">{{ product.description }}</p>
      <p class="card-text font-weight-bold">{{ product.price }}</p>
      <app-product-form [productId]="product.id" class="mt-auto"></app-product-form>
    </div>
  </div>
</div>
<div *ngIf="products.length === 0">
  <p>No products found</p>
</div>

