<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <div class="firstdiv text-primary sweetshop-title p-4">
        <h3>Mystery Boxes</h3>
        <p>
          Discover the unexpected with our Mystery Boxes—each packed with
          incredible value and surprises! Perfect for gifts or a personal treat,
          these boxes promise excitement and discovery with every unboxing.
          Seize the chance to uncover hidden gems.
        </p>
        <a href="#" class=" btn btn-primary btn-lg me-2 
                            animate__animated animate__fadeInUp animate__delay-2s">
                            Shop Mystery Boxes
        </a>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-sm-6 col-lg-4 mb-4" *ngFor="let product of products">
          <app-product-card [product]="product"></app-product-card>
        </div>
      </div>
    </div>
  </div>
</div>
