<div class="container mt-5">
  <h2 class="text-center" style="color: #ff69b4; font-weight: bold;">Mystery Boxes</h2>
  <br>
  <div class="row">
    <div class="col-md-3">
      <div class="firstdiv text-primary sweetshop-title p-4">
        <h3>Mystery Boxes</h3>
        <p>
          Discover the unexpected with our Mystery Boxes—each packed with
          incredible value and surprises! Perfect for gifts or a personal treat,
          these boxes promise excitement and discovery with every unboxing.
          Seize the chance to uncover hidden gems.
        </p>
        <a href="#" class=" btn btn-primary btn-lg me-2 
                            animate__animated animate__fadeInUp animate__delay-2s">
                            Shop Mystery Boxes
        </a>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-sm-6 col-lg-4 mb-4" *ngFor="let product of products">
          <div *ngIf="products.length > 0">
            <div  class="card h-100">
              <img [src]="product.image" class="card-img-top" [alt]="product.title" />
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ product.title }}</h5>
                <p class="card-text">{{ product.discription }}</p>
                <p class="card-text font-weight-bold">{{ product.price }}</p>
                <app-product-form [productId]="[product.id]" class="mt-auto"></app-product-form>
              </div>
            </div>
          </div>
          <div *ngIf="products.length === 0">
            <p>No products found</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
