<div class="vh-100">
  <section style="background-color: rgb(238, 238, 238)">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px">
            <div class="card-body p-md-5 px-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-2">
                    {{ "sign up" | titlecase }}
                  </p>
                  <form
                    class="mx-1 mx-md-4 form"
                    [formGroup]="form"
                    (ngSubmit)="register()"
                  >
                    <!-- Name -->
                    <div
                      *ngIf="f['name'].invalid && f['name'].touched"
                      style="color: red"
                      class="msgerror"
                    >
                      <div *ngIf="f['name'].errors?.['required']">
                        <small>Name is required</small>
                      </div>
                    </div>
                    <div
                      class="d-flex flex-row align-items-center mb-4 form-group"
                    >
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div data-mdb-input-init class="form-outline flex-fill">
                        <input
                          type="text"
                          id="name"
                          name="name"
                          class="form-control"
                          formControlName="name"
                        />
                        <label class="form-label" for="name">Your Name</label>
                      </div>
                    </div>

                    <!-- Phone -->
                    <div
                      *ngIf="f['phone'].invalid && f['phone'].touched"
                      style="color: red"
                      class="msgerror"
                    >
                      <div *ngIf="f['phone'].errors?.['required']">
                        <small>Phone is required</small>
                      </div>
                      <div *ngIf="f['phone'].errors?.['pattern']">
                        <small
                          >Phone must start with 01 and have 11 digits</small
                        >
                      </div>
                    </div>
                    <div
                      class="d-flex flex-row align-items-center mb-4 form-group"
                    >
                      <i class="fa-solid fa-phone fa-lg me-3 fa-fw"></i>
                      <div
                        data-mdb-input-init
                        class="form-outline flex-fill mb-0"
                      >
                        <input
                          type="text"
                          id="phone"
                          name="phone"
                          class="form-control"
                          formControlName="phone"
                          maxlength="11"
                        />
                        <label class="form-label" for="phone">Your phone</label>
                      </div>
                    </div>

                    <!-- Email -->
                    <div
                      *ngIf="f['email'].invalid && f['email'].touched"
                      style="color: red"
                      class="msgerror"
                    >
                      <div *ngIf="f['email'].errors?.['required']">
                        <small>Email is required</small>
                      </div>
                      <div *ngIf="f['email'].errors?.['email']">
                        <small>Email is invalid</small>
                      </div>
                    </div>
                    <div
                      class="d-flex flex-row align-items-center mb-4 form-group"
                    >
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div
                        data-mdb-input-init
                        class="form-outline flex-fill mb-0"
                      >
                        <input
                          type="email"
                          id="email"
                          name="email"
                          class="form-control"
                          formControlName="email"
                        />
                        <label class="form-label" for="email">Your Email</label>
                      </div>
                    </div>

                    <!-- Password -->
                    <div
                      *ngIf="f['password'].invalid && f['password'].touched"
                      style="color: red"
                      class="msgerror"
                    >
                      <div *ngIf="f['password'].errors?.['required']">
                        <small>Password is required</small>
                      </div>
                      <div *ngIf="f['password'].errors?.['minlength']">
                        <small>Password must be at least 8 characters</small>
                      </div>
                    </div>
                    <div
                      class="d-flex flex-row align-items-center mb-4 form-group"
                    >
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div
                        data-mdb-input-init
                        class="form-outline flex-fill mb-0"
                      >
                        <input
                          type="password"
                          id="password"
                          name="password"
                          class="form-control"
                          formControlName="password"
                          minlength="8"
                        />
                        <label class="form-label" for="password"
                          >Password</label
                        >
                      </div>
                    </div>

                    <!-- Confirm Password -->
                    <div
                      *ngIf="f['confirmp'].invalid && f['confirmp'].touched"
                      style="color: red"
                      class="msgerror"
                    >
                      <div *ngIf="f['confirmp'].errors?.['required']">
                        <small>Confirm your Password</small>
                      </div>
                    </div>
                    <div
                      *ngIf="form.errors?.['mustMatch'] && f['confirmp'].touched"
                    >
                      <small style="color: red">Passwords do not match</small>
                    </div>
                    <div
                      class="d-flex flex-row align-items-center mb-4 form-group"
                    >
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                      <div
                        data-mdb-input-init
                        class="form-outline flex-fill mb-0"
                      >
                        <input
                          type="password"
                          id="confirmp"
                          name="confirmp"
                          class="form-control"
                          formControlName="confirmp"
                        />
                        <label class="form-label" for="confirmp"
                          >Repeat your password</label
                        >
                      </div>
                    </div>

                    <!-- Checkbox -->
                    <div
                      *ngIf="f['cbox'].invalid && f['cbox'].touched"
                      style="color: red"
                      class="msgerror"
                    >
                      <div *ngIf="f['cbox'].errors?.['required']">
                        <small>Please check Terms of service</small>
                      </div>
                    </div>
                    <div
                      class="form-check d-flex justify-content-center mb-5 form-group"
                    >
                      <input
                        class="form-check-input me-2"
                        type="checkbox"
                        id="exampleCheck1"
                        formControlName="cbox"
                      />
                      <label class="form-check-label" for="exampleCheck1">
                        I agree all statements in
                        <a href="/signup">Terms of service</a>
                      </label>
                    </div>

                    <div *ngIf="error" class="alert alert-danger">
                      {{ error }}
                    </div>

                    <!-- Submit -->
                    <div
                      class="d-flex justify-content-center mx-4 mb-3 mb-lg-4 form-group"
                    >
                      <button
                        type="submit"
                        [disabled]="form.invalid"
                        data-mdb-button-init
                        data-mdb-ripple-init
                        class="btn btn-primary btn-lg"
                      >
                        Register
                      </button>
                    </div>
                    <p class="small fw-bold mx-4 pt-1 mb-0">
                      Already have an account?
                      <a routerLink="/login" class="link-danger">Sign In</a>
                    </p>
                  </form>
                </div>

                <div
                  class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2"
                >
                  <img
                    src="/assets/images/signup/signup.png"
                    class="img-fluid"
                    alt="Sample image"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
