<main id="main-content">
  <div class="shopify-section cc-rich-text">
    <div class="container text-center md-down:text-center">
      <h2 class="section__block section__block--heading md-down:px-gutter h2">
        <span class="contained-heading inline-block">About Us</span>
      </h2>
      <app-company-info></app-company-info>
      <div
        class="section__block reading-width--inline md-down:px-gutter rte mx-auto enlarge-text"
      >
        <h1>Welcome to SoSweety</h1>
        <p>
          Egypt's favourite <strong>Sweet Superstore</strong> and a beacon of
          delight for sweet lovers everywhere. We're a family-owned enterprise,
          brought to life by the tireless dedication and entrepreneurial spirit
          of Alaa Ahmed and Mahmoud Hamdy. Rooted in over three decades of rich
          retail experience, SoSweety is a testament to our unwavering
          commitment to our customers, quality confections, and shared love for
          all things sweet.
        </p>

        <h2>Our Story</h2>
        <p>
          Alaa Ahmed, the founder of SoSweety, has been a stalwart in the food
          industry for over 40 years. His depth of knowledge, paired with the
          retail and wholesale expertise of his partner, Mahmoud Hamdy, shaped
          the foundation of SoSweety. From our humble beginnings as a fruit and
          veg business, an unexpected opportunity in 2009 allowed us to tap into
          the vibrant world of sweets. We took the leap, setting up pop-up shops
          in various locations and slowly but surely, forged our unique path in
          the confectionery industry.
        </p>
        <p>
          The entrance of their son, George, in 2018 marked a pivotal point in
          our journey. George's keen eye for innovation identified multiple
          industry gaps, leading to the creation of an array of solutions that
          redefined our customer's experience. This transformative digital
          evolution was characterized by a wave of safe, user-friendly, and
          appealing ways to indulge in the best sweets on the market.
        </p>

        <h2>Our Team and Locations</h2>
        <p>
          Our Sweet Fulfilment Specialists, Candy Procurement Experts, and
          Confectionery Consultants operate from our state-of-the-art fulfilment
          centre, ensuring the smooth delivery of your favourite treats. Today,
          our confectionery empire extends to 11 prime locations across Egypt,
          encompassing bustling city centres and picturesque coastal towns.
        </p>

        <app-team></app-team>

        <h2>Our Offerings</h2>
        <p>
          Our offerings are as diverse as they are delicious, featuring over 250
          different pick'n'mix sweets, novelty and retro products. We take
          particular pride in our selection of imported candy and soda, bringing
          to you beloved brands like Jolly Rancher, Reese's, Hershey's, Arizona,
          Fanta, Calypso and more. We continually hunt for rare finds, providing
          you with a taste of exclusivity that's hard to find elsewhere!
        </p>

        <h2>Our Growth</h2>
        <p>
          The journey of SoSweety has seen exponential growth and immense
          loyalty from our customers. We boast a following of over a million
          sweet enthusiasts on TikTok, evidence of the love and trust our
          customers place in us. Our mission to keep the world smiling one sweet
          at a time has never faltered. With just a click, you can now shop our
          extensive range of products from the comfort of your own home.
        </p>
        <p>
          With a blend of professional diligence and the warmth of a family-run
          business, we're preparing for our most exciting venture yet. A new
          location is coming soon - our biggest to date, destined to further
          enrich your SoSweety experience, we'll keep you posted.
        </p>

        <app-contact-info></app-contact-info>
      </div>
    </div>
  </div>
</main>
