    <!-- Main Content -->
    <!-- < class="col-md-9 color"> -->
      <div class="card color">
        <div class="card-body">
          <h2 class="card-title container text-center">Account details</h2><br>
          <h4 class="card-subtitle mb-2 text-muted" style="color: #0d47a1;">Personal Information</h4>
          <div class="card-text ">
            <div class="row">
              <div class="col-md-6 mt-2">
                <h2 style="color: #0d47a1;">Name: 
                  <span style="color: #FF6F61;">{{ userInfo.name }}</span></h2>
              </div>
              <div class="col-md-6 mt-2">
                <h2 style="color: #0d47a1;">Email: 
                  <span style="color: #FF6F61;">{{ userInfo.email }}</span></h2>
                
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mt-2">
                <h2 style="color: #0d47a1;">Phone: 
                  <span style="color: #FF6F61;">{{ userInfo.phone }}</span></h2>
                
              </div>
              <div class="col-md-6 mt-2">
                <h2 style="color: #0d47a1;">Address: 
                  <span style="color: #FF6F61;">{{ userInfo.address }}</span></h2>
              </div>
            </div>
        </div>
      </div>
    </div>
  

