.location-map {
  background-color: #ffe6e6; /* light pink */
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.location-map h2 {
  color: #ff69b4; /* bright pink */
  font-family: "Georgia, serif";
  margin-bottom: 20px;
}

#map {
  height: 300px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
