<div class="address-info bg-light p-4 rounded shadow mt-4">
  <h2 class="text-center text-secondary mb-4">Our Address</h2>
  <p class="text-center">
    <i class="fa fa-map-marker fa-2x text-primary"></i>
    <br />
    123 Sweet Street, Cairo, Egypt
  </p>
  <p class="text-center">
    <i class="fa fa-phone fa-2x text-primary"></i>
    <br />
    (+20) 123-456-789
  </p>
  <p class="text-center">
    <i class="fa fa-envelope fa-2x text-primary"></i>
    <br />
    info@sosweety.com
  </p>
</div>
