<div class="container mx-auto">
    <div class="container">
        <h1 class=" text-center mb-4 txt1">Our Team</h1>
        <h4 class="text-center mb-4">Meet our <span class="txt11">talented individuals</span> behind Sweet</h4>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="face front-face">
                    <img src="assets/images/3laa.jpg"
                        alt="" class="profile">
                    <div class="pt-3 text-uppercase name mb-2"  style="font-weight: bold; font-size: 16px;">
                        Alaa Ahmed
                    </div>
                    <div class="designation">Full Stack Developer</div>
                </div>
                <div class="face back-face">
                    <!-- <i class="fa-regular fa-quote-left"></i> -->
                    <div class="testimonial">
                        A full stack web developer is a versatile professional skilled in both 
                        front-end 
                        and back-end technologies, capable of building complete web applications, 
                        from user interfaces to server-side logic and database management.
                    </div>
                    <!-- <span class="fas fa-quote-right"></span> -->
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="face front-face">
                    <img src="assets/images/petra.jpg"
                        alt="" class="profile">
                    <div class="pt-3 text-uppercase name mb-2"  style="font-weight: bold; font-size: 16px;">
                        Petra Software
                    </div>
                    <div class="designation">Full Stack Developer</div>
                </div>
                <div class="face back-face">
                    <!-- <span class="fas fa-quote-left"></span> -->
                    <div class="testimonial">
                        Welcome to Petra for software Industry!Petra is a specialized company
                        at software development; we trusted that Success achieved by good business 
                        sharing.
                    </div>
                    <!-- <span class="fas fa-quote-right"></span> -->
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="face front-face">
                    <img src="assets/images/m7amdy.jpg"
                        alt="" class="profile">
                    <div class="pt-3 text-uppercase name mb-2"  style="font-weight: bold; font-size: 16px;">
                        Mahmoud Hamdy
                    </div>
                    <div class="designation">Full Stack Developer</div>
                </div>
                <div class="face back-face">
                    <!-- <span class="fas fa-quote-left"></span> -->
                    <div class="testimonial">
                        A full stack web developer is a versatile professional skilled in both 
                        front-end 
                        and back-end technologies, capable of building complete web applications, 
                        from user interfaces to server-side logic and database management.
                    </div>
                    <!-- <span class="fas fa-quote-right"></span> -->
                </div>
            </div>
        </div>
    </div>
</div><br>