<div class="about-section bg-light p-5 rounded">
  <h1 class="text-primary">Welcome to SoSweety</h1>
  <p class="lead">
    Egypt's favourite <strong>Sweet Superstore</strong> and a beacon of delight
    for sweet lovers everywhere. We're a family-owned enterprise, brought to
    life by the tireless dedication and entrepreneurial spirit of Alaa Ahmed and
    Mahmoud Hamdy. Rooted in over three decades of rich retail experience,
    SoSweety is a testament to our unwavering commitment to our customers,
    quality confections, and shared love for all things sweet.
  </p>
</div>
