body {
  margin: 0;
  padding: 0;
  background: url('/assets/images/error.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
}
.button-container {
  margin-bottom: 60px; /* Adjust as necessary */
}
.return-button {
  width: 360px;
  height: 60px;
  /* background: url('return_to_home_button.png') no-repeat center center; */
  background-size: contain;
  border: none;
  cursor: pointer;
}