<div class="promo-banner container-fluid py-5">
  <div class="row align-items-center container">
    <div class="col-md-6 text-center text-md-start mb-4 mb-md-0">
      <div class="rating mb-3">
        <span class="stars">★★★★★</span>
        <span class="text-muted ms-2">LOVED BY 100,000+ SWEET LOVERS</span>
      </div>
      <h1 class="display-5 fw-bold animate__animated animate__fadeInLeft">
        The Ultimate Online Candy Store: Since 2007
      </h1>
      <p class="lead animate__animated animate__fadeInLeft animate__delay-1s">
        From nostalgic treats to new favorites, enjoy unmatched quality and
        value in every purchase.
      </p>
      <div class="mt-4">
        <a
          href="#"
          class="btn btn-primary btn-lg me-2 animate__animated animate__fadeInUp animate__delay-2s"
          >Shop All Candy</a
        >
        <a
          href="#"
          class="btn btn-outline-primary btn-lg animate__animated animate__fadeInUp animate__delay-2s"
          >Shop By Candy Type</a
        >
      </div>
    </div>
    <div class="col-md-6 text-center">
      <!-- <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>  -->

      <dotlottie-player src="https://lottie.host/b41991bd-d589-4214-b5f4-b01864ccff39/TZD5FGacFx.json" 
                        background="transparent" speed="1" style="width: 500px; height: 300px;" 
                        loop autoplay>
      </dotlottie-player>
    </div>
  </div>
</div>
