footer {
    background-color: #FF6F61 !important;
    color: #fff !important;
  }
  
  
  footer .fab {
    font-size: 1.5rem;
  }
  
  footer .form-control {
    max-width: 300px;
    display: inline-block;
  }
  
  footer .btn-primary {
    margin-top: 10px;
  }
  
  .navbar1{
    background-color:rgb(39, 7, 57) !important;
    padding-top: 10px;
    padding-bottom: 10px;
    /* border-top: 1px solid rgb(3, 123, 167); */
    border-bottom: none;
  }
  .navbar1:hover{
    /* background-color:#FF6F61 !important; */
    text-decoration: underline !important;
  }
  .head1{
    font-size: 90% !important;
    color : white !important;
  }
  .txt2{
    font-size: 20px !important;
    color : rgb(253, 253, 253) !important;
  }
  
  
  .promo-banner .btn-primary, .btn,
  .promo-banner .btn-outline-primary {
    background: transparent !important;
    border: 2px solid #BEF3FB !important;
    border-radius: 50px;
    padding: 0.75rem 2rem;
    color: #fff !important;
    transition: all 0.3s ease;
    font-weight: bold;
  }
  
  .promo-banner .btn-primary:hover, .btn:hover,
  .promo-banner .btn-outline-primary:hover {
    background: #BEF3FB !important;
    color: #FF6F61 !important;
  }