<section style="display: flex; justify-content: center; align-items: center; background-color: #64b5f6; overflow-x: hidden;">
    <div class="container mt-4 mb-4">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px; background-color: rgb(187, 222, 251);">
            <div class="card-body p-md-4 px-4">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-6 d-flex align-items-center flex-column">
                  <dotlottie-player src="https://lottie.host/688d6977-3a89-40c4-8f32-7f13293be313/fGY0EQmxVm.json"
                                    background="transparent" speed="1" style="width: 300px; height: 300px;" 
                                    loop autoplay>
                  </dotlottie-player>
                  <p class="text-center h1 fw-bold mb-4 mx-1 mx-md-3 mt-2" style="color: #0d47a1; font-weight: bold;">Success</p>
                  <div class="text-center text-lg-start mt-2 pt-2">
                    <button mat-button color="primary" (click)="onContinue()" class="btn btn-warning btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem">
                      Continue
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  