<div class="card color mt-4">
  <div class="card-body">
    <h2 class="card-title container text-center">Order History</h2><br>
    <div class="card-text">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="color">Order ID</th>
            <th class="color">Date</th>
            <th class="color">Status</th>
            <th class="color">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>{{ order.id }}</td>
            <td>{{ order.date | date }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.total | currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

