<div class="container mt-5 color py-3">
  <h4 class="text-center ">Order Summary</h4>
  <div class="card color">
    <div class="card-body">
      <h5 class="card-title">Cart Items</h5>
      <ul class="list-group mb-3">
        <li
          *ngFor="let item of cartItems"
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          {{ item.name }} ({{ item.quantity }})
          <span>{{ item.price * item.quantity | currency }}</span>
        </li>
      </ul>
      <h5 class="card-title">Shipping Information</h5>
      <p>
        {{ shippingInfo.name }}, {{ shippingInfo.address }},
        {{ shippingInfo.city }}, {{ shippingInfo.postal_code }},
        {{ shippingInfo.country }}
      </p>
      <h5 class="card-title">Delivery Method</h5>
      <p>{{ deliveryMethods.shipping_method }} ({{ deliveryMethods.cost | currency }})</p>
      <h5 class="card-title">Payment Method</h5>
      <p>{{ paymentMethod }}</p>
      <h5 class="card-title">Total</h5>
      <p>{{ total | currency }}</p>
      <button class="btn btn-primary mt-2" style="background-color: #0d47a1; border: none" (click)="placeOrder()">
        Place Order
      </button>
    </div>
  </div>
</div>
