<div class="container mt-5">
  <div class="row">
    <div *ngFor="let product of products" class="col-md-4 mb-4">
      <div class="card h-100">
        <img
          [src]="product.imageUrl"
          class="card-img-top"
          alt="{{ product.name }}"
        />
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.price | currency }}</p>
          <button class="btn btn-primary mt-auto" (click)="addToCart(product.id)">
            <i class="fas fa-cart-plus"></i> Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
