<br>
<div class="container">
    <div class="row justify-content-center">
      <div
        class="col-6 col-md-4 col-lg-2 mb-3"
        *ngFor="let catego of categories"
      >
        <div
          class="card imghealth text-center border-0"
          (click)="showSection(catego.route)"
        >
          <h4 class="card-title text-center">{{ catego.name | titlecase }}</h4>
          <img
            src="/assets/images/dashboard/users/{{ catego.route }}.jpg"
            class="card-img-top rounded-circle border-0"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>
  
  <!-- Admins Section -->
  <div
    class="main-card mb-3 card container"
    id="admins"
    [hidden]="currentSection !== 'admins'"
  >
    <div class="card-header">
      <div class="container text-center">
        <h1 class="mx-auto">Admins</h1>
      </div>
    </div>
    <div class="table-responsive">
      <table
        class="align-middle text-truncate mb-0 table table-borderless table-hover"
      >
        <thead>
          <tr>
            <th class="text-center">#ID</th>
            <th class="text-center">Name</th>
            <th class="text-center">Email</th>
            <th class="text-center">Role</th>
            <th class="text-center">Status</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let admin of admins">
            <td class="text-center text-muted">{{ admin.id }}</td>
            <td class="text-center">{{ admin.name }}</td>
            <td class="text-center">{{ admin.email }}</td>
            <td class="text-center">{{ admin.phone }}</td>
            <td class="text-center">
              <i
                class="fa"
                [ngClass]="{
                  'fa-check text-success': !admin.is_deleted,
                  'fa-times text-danger': admin.is_deleted
                }"
              ></i>
            </td>
            <td class="text-center">
              <button class="btn btn-primary" (click)="toggleAdmin(admin.id)">
                {{ admin.is_deleted ? 'Restore' : 'Remove' }}
              </button>
              <button
                class="btn btn-info"
                [routerLink]="['/admin/admins/edit', admin.id]"
              >
                Edit
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-block p-4 text-center card-footer">
      <button
        class="btn-pill btn-shadow btn-wide fsize-1 btn btn-success btn-lg"
        routerLink="/admin/admins/new"
      >
        <span><i class="fa-solid fa-circle-plus"></i> Add New Admin</span>
      </button>
    </div>
  </div>
  
  <!-- Suppliers Section -->
  <div
    class="main-card mb-3 card container"
    id="suppliers"
    [hidden]="currentSection !== 'suppliers'"
  >
    <div class="card-header">
      <div class="container text-center">
        <h1 class="mx-auto">Suppliers</h1>
      </div>
    </div>
    <div class="table-responsive">
      <table
        class="align-middle text-truncate mb-0 table table-borderless table-hover"
      >
        <thead>
          <tr>
            <th class="text-center">#ID</th>
            <th class="text-center">Name</th>
            <th class="text-center">Contact Info</th>
            <th class="text-center">Status</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let supplier of suppliers">
            <td class="text-center text-muted">{{ supplier.id }}</td>
            <td class="text-center">{{ supplier.name }}</td>
            <td class="text-center">{{ supplier.contact_info }}</td>
            <td class="text-center">
              <i
                class="fa"
                [ngClass]="{
                  'fa-check text-success': !supplier.is_deleted,
                  'fa-times text-danger': supplier.is_deleted
                }"
              ></i>
            </td>
            <td class="text-center">
              <button
                class="btn btn-primary"
                (click)="toggleSupplier(supplier.id)"
              >
                {{ supplier.is_deleted ? 'Restore' : 'Remove' }}
              </button>
              <button
                class="btn btn-info"
                [routerLink]="['/admin/suppliers/edit', supplier.id]"
              >
                Edit
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-block p-4 text-center card-footer">
      <button
        class="btn-pill btn-shadow btn-wide fsize-1 btn btn-success btn-lg"
        routerLink="/admin/suppliers/new"
      >
        <span><i class="fa-solid fa-circle-plus"></i> Add New Supplier</span>
      </button>
    </div>
  </div>
  
  <!-- Customers Section -->
  <div
    class="main-card mb-3 card container"
    id="customers"
    [hidden]="currentSection !== 'customers'"
  >
    <div class="card-header">
      <div class="container text-center">
        <h1 class="mx-auto">Customers</h1>
      </div>
    </div>
    <div class="table-responsive">
      <table
        class="align-middle text-truncate mb-0 table table-borderless table-hover"
      >
        <thead>
          <tr>
            <th class="text-center">#ID</th>
            <th class="text-center">Name</th>
            <th class="text-center">Email</th>
            <th class="text-center">Status</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of customers">
            <td class="text-center text-muted">{{ user.id }}</td>
            <td class="text-center">{{ user.name }}</td>
            <td class="text-center">{{ user.email }}</td>
            <td class="text-center">
              <i
                class="fa"
                [ngClass]="{
                  'fa-check text-success': !user.is_deleted,
                  'fa-times text-danger': user.is_deleted
                }"
              ></i>
            </td>
            <td class="text-center">
              <button class="btn btn-primary" (click)="toggleUser(user.id)">
                {{ user.is_deleted ? 'Restore' : 'Remove' }}
              </button>
              <button
                class="btn btn-info"
                [routerLink]="['/admin/users/edit', user.id]"
              >
                Edit
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-block p-4 text-center card-footer">
      <button
        class="btn-pill btn-shadow btn-wide fsize-1 btn btn-success btn-lg"
        routerLink="/admin/users/new"
      >
        <span><i class="fa-solid fa-circle-plus"></i> Add New User</span>
      </button>
    </div>
  </div>
  