<!-- Product Categories -->
<br><div class="container mt-4">
  <h2 class="mt-4 text-center" style="color: #ff69b4; font-weight: bold;">Product Categories</h2>
  <br>
  <div class="row">
    <div class="col-md-4" *ngFor="let category of categories">
      <div class="card mb-4">
        <img
          class="card-img-top"
          [src]="category.imageUrl"
          [alt]="category.name"
        />
        <div class="card-body">
          <h5 class="card-title" style="color:#ff69b4">{{ category.name }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
