<!-- <div class="banner-container">
  <a
    href="https://www.sosweetshop.co.uk/collections/gift-jars"
    class="banner-image"
  ></a>
  <a
    href="https://www.sosweetshop.co.uk/collections/jelly-belly"
    class="banner-image"
  ></a>
  <a
    href="https://www.sosweetshop.co.uk/products/sosweet-giant-cable-pouches-500g"
    class="banner-image"
  ></a>
  <a
    href="https://www.sosweetshop.co.uk/collections/freeze-dried-sweets"
    class="banner-image"
  ></a>
  <a
    href="https://www.sosweetshop.co.uk/collections/minion"
    class="banner-image"
  ></a>
  <a
    href="https://www.sosweetshop.co.uk/collections/teacher-gifts"
    class="banner-image"
  ></a>
</div> -->
<br>
<div class="container">
  <div class="row">
    <div class="col-12">
      <p class="text-start txt1">Shop sweets, treats, and more at <span class="txt11">SoSweet</span>, the UK's #1 <span class="txt11">Online Sweet Shop</span>
      <div class="banner-container rounded">
        <div
          class="banner-image"
          *ngFor="let banner of banners"
          [ngStyle]="{ 'background-image': 'url(' + banner.image + ')' }"
        >
          <a [href]="banner.link" class="banner-link"></a>
        </div>
      </div>
    </div>
  </div>
</div>
