<div class="container my-5 p-5 rounded shadow bg-light">
  <div class="row align-items-center">
    <div class="col-md-6">
      <dotlottie-player
        src="https://lottie.host/da86888b-f38d-4f0f-a205-0933883f544b/FBD1x4yimJ.json"
        background="transparent"
        speed="1"
        style="width: 300px; height: 300px"
        loop
        autoplay
      ></dotlottie-player>
    </div>
    <div class="col-md-6">
      <h2 class="text-primary sweetshop-title">
        Serving Your Sweet Cravings Since 2007
      </h2>
      <p class="lead">
        Welcome to SweetShop Egypt, your ultimate destination for all things
        sweet and delightful. Since 2007, we have been dedicated to bringing you
        the finest selection of candies, chocolates, and traditional Egyptian
        sweets.
      </p>
      <p>
        From corporate gifts to personal treats, we cater to all occasions with
        our wide variety of bulk candies. Our selection includes nostalgic
        favorites, gourmet chocolates, and unique Egyptian delicacies that will
        surely satisfy your sweet tooth.
      </p>
      <p>
        Whether you're planning a grand celebration, looking for a special gift,
        or simply craving a sweet treat, SweetShop Egypt has got you covered.
        Trust in our years of service to deliver quality and joy to every candy
        lover across the nation.
      </p>
      <a routerLink="/about" class="btn btn-outline-primary btn-lg mt-3"
        >Learn More About Us</a
      >
    </div>
  </div>
</div>
