<div class="card color mt-4">
  <div class="card-body">
    <h2 class="card-title container text-center">Address Book</h2><br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="color">Name</th>
          <th class="color">Address</th>
          <th class="color">City</th>
          <th class="color">Postal Code</th>
          <th class="color">Country</th>
          <th class="color"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let address of addresses">
          <td>{{ address.name }}</td>
          <td>{{ address.address }}</td>
          <td>{{ address.city }}</td>
          <td>{{ address.postalCode }}</td>
          <td>{{ address.country }}</td>
          <td>
            <a
              [routerLink]="['/account/address-book/edit', address.id]"
              class="btn btn-primary btn-sm"
              >Edit</a
            >
            <button
              (click)="deleteAddress(address.id)"
              class="btn btn-danger btn-sm"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <a routerLink="/account/address-book/new" class="btn btn-primary mt-2"
    style="background-color: #0d47a1; border: none"
      >Add New Address</a
    >
  </div>
</div>

