<app-banner></app-banner><br> <!--banner-->
<app-marquee></app-marquee><br>  <!--marquee-->
<app-categories></app-categories><br>  <!--product categories-->
<app-carousel-slider></app-carousel-slider><br>  <!-- Mystry Boxes-->
<app-featured-products></app-featured-products><br>  <!-- featured products-->

<app-best-selling></app-best-selling><br><br><br>  <!-- Best Selling -->
<app-candy-banner></app-candy-banner><br><br>  <!-- Online Candy Store -->
<app-teams></app-teams><br>  <!--our brands-->

<app-candy-info></app-candy-info>  <!-- Ice cream -->


<app-review-form></app-review-form><br><br>  <!-- Our Team -->

